<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.web.user.mapper.UserMapper">
	
	<select id="findAll" resultType="com.sky.web.user.pojo.User">
		select * from user
	</select>
	
	<!-- <select id="findByPhone" resultType="com.sky.web.user.pojo.User">
		select * from user where phone = ${phone}
	</select> -->
	
</mapper>